* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: #1b0058;
    background-color: #ffffff;
}

main {
    margin-left: 30%;
    margin-right: 45%;
    margin-top: 3%;
    margin-bottom: 10%;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px #dbdbdb;
    background-color: #f6f8ff;
}

h1 {
    text-align: center;
    color: #5e7ad6;
    line-height: 3;
}

label {
    margin-left: 4%;
    margin-right: 50%;
}

input {
    margin-left: 4%;
    margin-bottom: 3%;
    width: 375px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 4px 10px #dbdbdb;
}

button {
    background-color: #dbe3ff;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 4px 10px #dbdbdd;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #1b0058;
}

button:hover {
    background-color: #9db2ff;
    box-shadow: 10px 0 4 #dbdbdd;
    color: #ffffff;
}

button:active {
    background-color: #7190ff;
    box-shadow: 10px 0 4 #dbdbdd;
    color: #ffffff;
}